@media (max-width: 500px) {
    .info {
        column-gap: 0;
        align-items: center;
    }
    .field {
        &__piece {
            width: 60px;
            height: 60px;
            font-size: 22px;
        }
    }
    .score {
        min-width: 180px;
        &__text {
            font-size: 15px;
        }
        &__number {
            font-size: 19px;
        }
    }
    .game {
        padding: 0 0 20px;
        width: 100vw;
        & .title {
            font-size: 60px;
        }
    }
    .nav {
        &__button-icon {
            width: 23px;
            height: 23px;
        }
    }
    .start {
        padding: 50px 70px 40px;
    }
}

@media (max-width: 350px) {
    .game {
        & .title {
            font-size: 55px;
        }
    }
    .field {
        &__piece {
            width: 55px;
            height: 55px;
            font-size: 20px;
        }
    }
    .start {
        width: 100vw;
    }
}
