@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
  height: 100%;
}

* {
  font-family: Comfortaa;
  font-size: 12px;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: none;
  outline: none;
}

input {
  border: 0;
  outline: none;
}

body {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%), no-repeat;
}

.header {
  background-color: #1f282e9d;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header__title {
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
}

.header__icon {
  color: #ffffff;
  width: 30px;
  height: 30px;
}

.start {
  background-color: #1f282e7e;
  min-width: 300px;
  border-radius: 20px;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 50px;
}

.start__play {
  cursor: pointer;
  border-radius: 30px;
  border-bottom: #535c7565 7px solid;
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.start__play-text {
  color: #fff;
  font-size: 70px;
}

.start__play:hover {
  background-color: #535c7565;
}

.start__play:hover .start__icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background: #535c7565;
}

.start__icon {
  width: 80px;
  height: 80px;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.start__fieldsize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.start__fieldsize-text {
  color: #fff;
  font-size: 30px;
}

.start__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.start__button {
  color: #fff;
  border-radius: 25px;
  font-size: 18px;
  padding: 10px;
  font-weight: 700;
  background: #535c7565;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.start__button:hover {
  background: #fff;
  color: #1f282e;
}

.start__button--active {
  background: #fff;
  color: #1f282e;
}

.game {
  position: relative;
  background-color: #1f282e60;
  border-radius: 15px;
  padding: 0 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 15px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.footer {
  background-color: #1f282e9d;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  color: #ffffff;
  font-size: 14px;
}

.footer__img {
  height: 30px;
}

.footer__icon {
  width: 30px;
  height: 30px;
  color: #b33041;
}

.title {
  font-size: 80px;
  color: #a7c1f3;
  line-height: 60px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-top: 50px;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 10px;
  min-width: 240px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.score-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 7px;
}

.score__text {
  color: #a7c1f3;
  font-size: 15px;
}

.score__line {
  width: 20px;
  height: 2px;
  border-radius: 10px;
  background-color: #a7c1f3;
}

.score__number {
  color: #ffffff;
  font-size: 23px;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__button {
  color: #a7c1f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav__button:hover {
  color: #ffffff;
}

.nav__button-icon {
  width: 30px;
  height: 30px;
}

.field {
  display: -ms-grid;
  display: grid;
  --field-size: 4;
  -ms-grid-columns: (auto)[var];
      grid-template-columns: repeat(var(--field-size), auto);
  -ms-grid-rows: (auto)[var];
      grid-template-rows: repeat(var(--field-size), auto);
  border-radius: 10px;
  row-gap: 8px;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  padding: 20px;
}

.field__piece {
  background-color: #1f282e1e;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  text-shadow: 0px 0.1px 10px #1f282e9c;
}

.end {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #1d223331;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.end__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 15px;
  max-width: 400px;
  padding: 50px 30px;
}

.end__text {
  color: #a7c1f3;
  font-size: 40px;
  text-transform: uppercase;
}

.end__description {
  color: #fff;
  font-size: 20px;
}

.end--active {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */